.btn {
  width: 24px;
  height: 24px;
  cursor: pointer;


  span {
    display: block;
    width: 100%;
    border-radius: 5px;
    height: 3px;
    background: #fff;
    transition: all .3s;
    position: relative;
  }
  
  span + span {
    margin-top: 5px;
  }
  
  &.active span:nth-child(1) {
    animation: top-1 300ms ease-in-out forwards;
  }
  
  &.not-active span:nth-child(1) {
    animation: top-2 300ms ease-in-out forwards;
  }
  
  &.active span:nth-child(2) {
    animation: scaled 300ms ease-in-out forwards;
  }
  
  &.not-active span:nth-child(2) {
    animation: scaled-2 300ms ease-in-out forwards;
  }
  
  &.active span:nth-child(3) {
    animation: bottom-1 300ms ease-in-out forwards;
  }
  
  &.not-active span:nth-child(3) {
    animation: bottom-2 300ms ease-in-out forwards;
  }

}

@keyframes top-1 {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 8px;
    transform: rotate(0);
  }
  100% {
    top: 8px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 8px;
    transform: rotate(45deg);
  }
  50% {
    top: 8px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom-1 {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 8px;
    transform: rotate(0);
  }
  100% {
    bottom: 8px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 8px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 8px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
