/* #header-bar {
  transform: translateY(-100%);
  animation: translateY 1000ms ease-in-out 4000ms forwards 1;
}

#header-nav {
  opacity: 0;
  transform: translateY(-50%);
  animation: translateYFadeIn 1000ms ease-in-out 4500ms forwards 1;
} */
  
  